{% trans_default_domain 'users' %}
{% extends 'admin/base.html.twig' %}

{% block pageActions %}
    <div class="page-actions">
        <a href="{{ path('admin_users_list') }}" class="btn-secondary">{{ 'common.actions.back' | trans }}</a>
        <button id="saveButton" class="btn-primary" type="submit">{{ 'common.actions.save' | trans }}</button>

    </div>
{% endblock %}

{% if user is not defined %}
    {% set page_title = 'users.create.title' | trans %}
{% else %}
    {% set page_title = 'users.edit.title' | trans({'%user%': user.username}) %}
{% endif %}

{% block pageContent %}
    <div id="dataDiv" data-id="{% if user is not defined %}{% else %}{{ user.id }}{% endif %}"></div>
    <div class="content-wrapper">
        <!-- Section principale (2/3) -->
        <div class="main-section">
            <div class="tabs">
                <ul class="tab-list">
                    <li class="tab-item active" data-tab="general">{{ 'common.tabs.general' | trans }}</li>
                    <!-- Autres onglets peuvent être ajoutés ici -->
                </ul>
            </div>

            <div class="tab-content active" id="tab-general">
                {{ form_start(form, {'attr': {'class': 'edit-form'}} ) }}
                <div class="form-row">
                    <div class="form-group">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.groups, {'attr': {'class': 'select2'}}) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.password) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <!-- Section d'aide (1/3) -->
        <div class="help-section">
            <div class="help-content">
                <div class="help-header">
                    <h2>{{ 'common.help.title' | trans }}</h2>
                    <button class="btn-edit-help" id="editHelpBtn">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
                <div class="help-text" id="helpText">
                    <p>Cette page permet de modifier les informations d'un utilisateur.</p>
                    <ul>
                        <li>Le nom d'utilisateur ne peut pas être modifié</li>
                        <li>L'email doit être une adresse valide</li>
                        <li>Le mot de passe est optionnel. Ne le remplissez que si vous souhaitez le modifier</li>
                        <li>Vous pouvez sélectionner plusieurs groupes pour l'utilisateur</li>
                        <li>Le statut permet d'activer ou désactiver l'accès de l'utilisateur</li>
                    </ul>
                </div>
                <div class="help-edit hidden" id="helpEdit">
                    <textarea id="helpTextArea"></textarea>
                    <div class="help-edit-actions">
                        <button class="btn-primary" id="saveHelpBtn">{{ 'common.actions.save' | trans }}</button>
                        <button class="btn-secondary" id="cancelHelpBtn">{{ 'common.actions.cancel' | trans }}</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-edit') }}
{% endblock %}