{% trans_default_domain 'users' %}
{% extends 'admin/base.html.twig' %}
{% set page_title = 'users.listing.title' | trans %}

{% block pageActions %}
    <div class="page-actions">
        <a href="{{ path('admin_users_new') }}" class="btn-primary">
            <i class="fas fa-plus"></i> Nouveau
        </a>
    </div>
{% endblock %}

{% block pageContent %}
    {%  include 'admin/user/user/_search-form.html.twig' %}

    <section class="list-section">
        <table id="datatable" class="table table-bordered dataTable table-fixed table-hover">
            <thead>
            <tr>
                <th>{{ 'users.listing.header.id' | trans }}</th>
                <th>{{ 'users.listing.header.name' | trans }}</th>
                <th>{{ "users.listing.header.group" | trans }}</th>
                <th>{{ "users.listing.header.actions" | trans }}</th>
            </tr>
            </thead>
            <tbody>
            <!-- Les données seront insérées dynamiquement par DataTables -->
            </tbody>
        </table>
    </section>

{% endblock %}

{% block javascripts %}
    {{ importmap(['app', 'user-list']) }}
{% endblock %}